# Review of Lab 01

<font color=blue> **Question 2.** </font><br /> Assign the name `seconds_since_2000` to the number of seconds between midnight January 1, 2000 and midnight January 1, 2022. Use Python to perform any required arithmetic. 

*Hint 1:* If you're stuck, the next section shows you how to get hints. </br>
*Hint 2:* There are 6 leap years between 2000 and 2022.

In [ ]:
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365
number_of_years = 22
number_of_leap_days = 6

seconds_per_day = seconds_per_minute * minutes_per_hour * hours_per_day
seconds_per_year = seconds_per_day * days_per_year

seconds_since_2000 = number_of_years * seconds_per_year + number_of_leap_days * seconds_per_day
seconds_since_2000

<font color=blue> **Question 3.** </font><br />
In addition to learning Python's syntax, a critical skill is learning to translate the problem you want to solve into code. You just did that to solve Question 2. Here is one more example for practice.

Assume a sheet of paper is 0.1 mm thick. If you could fold it in half 27 times, how high would the resulting bundle of paper reach in kilometers? (Note: Mt Everest is only 8.8 km tall).

*Hint: Watch your units!*

In [ ]:
bundle_height_mm = 0.1 * 2**27

# 1000 mm in a meter, 1000 m in a kilometer
mm_to_km = 1 / (1000 * 1000)

bundle_height_km = bundle_height_mm * mm_to_km
bundle_height_km

# Data Types

## Lists

 Until now your variables all pointed to single values: ints, floats, strings. Python has a variety of data types that are collections. One of the more versatile and commonly used is the list.

In [ ]:
# Create a list using square brackets
name = ['Sally', "Mark", "Kummar", "Maria"]
name

In [ ]:
# Show the length of the list
len(name)

In [ ]:
# Reference a single element from the list
# Note: the first elements is element zero

print(name[1])
print(name[3])

In [ ]:
# Add another name to the list
name.append('Pierre')
name

In [ ]:
# Remove an element from the list
name.remove('Mark')
print(name)

In [ ]:
# Lists can be concatenated together, just like strings
list1 = [1, 2, 3]
list2 = ["Pizza", "Hamburgers", "Tacos"]
list3 = list1 + list2
list3

Notice that elements of a list do not have to be all the same type of data. list3 has three integers and three strings.


**Challenge: I've had entirely too much pizza. Remove "pizza" from list3.**

In [ ]:
# A list can even contain other lists
nested_list = [ 1, 2, 3, ['dog', 'cat']]
nested_list

In [ ]:
# The list is only four elements long
# The last element being another list
len(nested_list)

In [ ]:
# How would we reference the element 'dog' inside the list within the list?
nested_list[3][0]

**Challenge: See if you can index this list to extract 'the prize'**

In [ ]:
list4 = [1, 2, 5, 7, ['hot dogs', 'cracker jacks', 'the prize'], 13, 17]
list4

In [ ]:
list4[4][2]

## Slicing
You can reference a subset of a list, This is called "slicing."

In [ ]:
prime_nums = [1, 2, 3, 5, 7, 11, 13, 17, 19, 23]
prime_nums

In [ ]:
# Slice the first three elements of the list
prime_nums[0:3]

You can omit the starting index if your want to slice from the beginning of the list.

In [ ]:
prime_nums[:3]

You can omit the ending index if you want to slice to the end.

In [ ]:
prime_nums[5:]

You can use negative indices to count from the other end of the list.

In [ ]:
prime_nums[-3:-1]

In [ ]:
# Does the same thing since -1 is the index of the end of the list.
prime_nums[-3:]

## Arrays
Arrays are similar to lists, but every element of an array must be the the same data type.

In [ ]:
from datascience import *

array_of_primes = make_array(1, 2, 3, 5, 7, 11, 13, 17, 19, 23)
array_of_primes

You index and slice array the same way you do lists. Again, the first element is the zeroth elemnt.

In [ ]:
array_of_primes[3]

In [ ]:
array_of_primes[3:7]

### Here comes the cool part...

Becuase arrays are all the same type of data, we can perform math operations on all of the elements of an array at once.

In [ ]:
# Adds 10 to every element of the array.
array_of_primes + 10

In [ ]:
# Squares every element of the array.
array_of_primes**2

## Numpy
The "numpy" module, short for "numerical python" adds many mathematical functions that work with arrays.

In [ ]:
import numpy as np

np.sqrt(array_of_primes)

Numpy can also generate arrays. The arange() function is especially handy for generating numbers in a sequence.

In [ ]:
# Generate 10 numbers, starting with zero and incrementing by one.
np.arange(10)

In [ ]:
# Generate numbers between 1 and up to, but not including, 20 in steps of 1.
np.arange(1, 20)

In [ ]:
# Generate numbers between 1 and up to, but not including, 20 in steps of 2.
np.arange(1, 20, 2)

## Peeking ahead

To get a glimpse how powerful arrays are, we will plot one cycle of a sine wave with values ranging from 0 to $2 \pi$ radians. 

We will learn in detail how to plot data in a later lab.

In [ ]:
import matplotlib.pyplot as plt
import math
import numpy as np
%matplotlib inline

x = np.arange(0, 2 * math.pi, 0.01)
y = np.sin(x)

plt.plot(x, y)

In [ ]:
len(x)