## Class 005
*Working with data*: datascience Table

## Learning Goals for Lab 03
### Loading Data Sets and Exploratory Data Analysis
*neccessary*: 
`from datascience import *`
- Table is a new Variable & Data Types
    - Strings
    - Integer
    - float
    - list [ ]
    - numpy.array
    - datascience.tables.Table
- arrays: from datascience import *
    - `make_array(0.125, 4.75, -1.3)` 
- arrays: import numpy as np
    - `np.array([0, 1, -1, math.pi, math.e])`
    - `np.arange(1,13)` 
- lists: [1, 2, 3, 4]
#### Table
- `T=Table().with_columns('Month',np.arange(1,13))`
- `Table.read_table(data)`

#### Initialize with imported new functionality

In [ ]:
from datascience import *

# import for plotting
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
# Fix for datascience plots
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

## Loops and List Comprehensions
A loop runs through all of the elements in a collection.

In [ ]:
# Here the collection is a list
science_bldgs = ['Beury', 'Biolife', 'SERC']
for bldg in science_bldgs:
    print(bldg)

In [ ]:
x = np.arange(5)
x

In [ ]:
# Here the collection is an array
for x in np.arange(5):
    print(x)

In [ ]:
# You can have any number of lines in the body of the loop
for x in np.arange(5):
    print("When x =", x, "then x-squared is:", x**2)
    print("--------------------------------")

**A list comprehension is a short cut for using a loop to make a new list.**

In [ ]:
# The regular way
pets = "dog", "cat", "hamster", "goldfish"
upper_case_pets = []
for pet in pets:
    upper_case_pets.append(pet.upper())
upper_case_pets

In [ ]:
# Using a list comprehension
upper_case_pets = [pet.upper() for pet in pets]
upper_case_pets

### First data table

In [ ]:
from datascience import *
import numpy as np

T=Table().with_columns('Month',np.arange(1,13))

In [ ]:
T=T.with_columns('Average_SnowFall (inch)',make_array(5.6, 5.6, 2.4, 0.1, 0, 0, 0, 0, 0, 0, 0.1, 3.2))

In [ ]:
T.show()

In [ ]:
# Little nice trick to get months in list
import calendar
m=[calendar.month_name[i] for i in range(1,13)]
m

In [ ]:
T=T.with_columns('Month',m)
T.show()

### Environmental Performance Index (EPI)
[epi.yale.edu](epi.yale.edu)

In [ ]:
path = 'data/'
data = path + 'epi2022results05302022.csv'
epi = Table.read_table(data)
epi

In [ ]:
# Select creates a new table with just the selected columns
# sort() sorts all of the rows in the table by a values of a column
episcore = epi.select("country","EPI.new")
episcore.sort("EPI.new",descending=True)

### Census data example
#### For your own exploration

In [ ]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/asrh/nc-est2020-agesex-res.csv'
# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
full_census_table

In [ ]:
# Use select to pick the desired columns
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2020')
partial_census_table

In [ ]:
partial_census_table.column("AGE")

In [ ]:
# Change a column name using relabeled(oldname, newname)
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2020', '2020').relabeled('SEX','GENDER')
us_pop

In [ ]:
# Using .where() method to filter data [see:http://data8.org/datascience/reference-nb/datascience-reference.html#tbl.where() ]
us_pop.where('GENDER', 0)

In [ ]:
# Chaining methods - They are applied left to right
popdata = us_pop.where('GENDER',0).where('AGE',are.below(99))
popdata

In [ ]:
# Plot to see offset
popdata.select('AGE','2010','2020').plot('AGE')

# Read Chapter 6!
https://inferentialthinking.com/chapters/06/Tables.html#

**Tables are the essential data structure for this class and there is a lot to learn, so read!**