# Jupyter Notebook Exercises for Lab03a

In [ ]:
from datascience import *

**Question 1**

First, make an array containing the following quantities: 5, 7.56, 13.0, and 4.3. Next, make a list containing the same quantities.

In [ ]:
array = ...
print(array)

list = ...
print(list)

**Question 2**

Determine the type of the first entry in the array and list you just made. Explain the result.

In [ ]:
...(5.)

In [ ]:
...(5)

**Question 3**

In [ ]:
# Complete to create a table of students' grades 
# Provided data for students' grades
names = make_...("Alice", "Bob", "Charlie", "David", "Eva")
assignments = make_...(95, 87, 78, 92, 89)
quizzes = make_...(88, 92, 84, 79, 95)
exams = make_...(90, 85, 88, 92, 87)

# Create an empty table
grades = Table()

# Add columns to the table using with_columns
grades = grades.with_columns(
    "Name", ...,
    "Assignments", ...,
    "Quizzes", ...,
    "Exams", ...
)

# Display the grades table
print(grades)

**Question 3.1**

In Question 3, who has the highest exam score? Use the .sort and .take(0) table methods.

**Question 3.2**

In Question 3, who has the lowest exam score? Use the .sort and .take(0) table methods.

**Question 4**

Add a new column of "Color" with an array ('pink', 'yellow', 'red') to the table flowers. (Hint: use .with_column table method.)

In [ ]:
flowers = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)
... ...

**Question 5**

In the table from Question 4, which flower has the most number of petals? Use the .sort and .take(0) table methods.

### Answer keys

Suggest to try solving the questions first before looking at the answers.

In [44]:
# Correct answer for Question 1:

array = make_array(5, 7.56, 13.0, 4.3)
print(array)

list = [5, 7.56, 13.0, 4.3]
print(list)

[  5.     7.56  13.     4.3 ]
[5, 7.56, 13.0, 4.3]

In [45]:
# Correct answer for Question 2:
type(5.)

float

In [ ]:
type(5)

In a list, different entries can have different data types, so 5 remains as an integer. In an array, all entries must have the same data type, so 5 becomes a float.

In [ ]:
# Answer for Question 3
# Provided data for students' grades
names = make_array("Alice", "Bob", "Charlie", "David", "Eva")
assignments = make_array(95, 87, 78, 92, 89)
quizzes = make_array(88, 92, 84, 79, 95)
exams = make_array(90, 85, 88, 92, 87)

# Create an empty table
grades = Table()

# Add columns to the table using with_columns
grades = grades.with_columns(
    "Name", names,
    "Assignments", assignments,
    "Quizzes", quizzes,
    "Exams", exams
)

# Display the grades table
print(grades)

In [ ]:
# Answer for Question 3.1

grades.sort("Exams", descending = True).take(0)

In [ ]:
# Answer for Question 3.2

grades.sort("Exams").take(0)

In [ ]:
# Answer for Question 4

flowers = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

flowers_table = flowers.with_column(
    'Color', make_array('pink', 'yellow', 'red')
)
flowers_table

In [ ]:
# Answer for Question 5
flowers_table.sort('Number of petals', descending = True).take(0)