# Group Project Groups

In [3]:
import random
import numpy as np
from datascience import *
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import warnings
warnings.simplefilter('ignore', UserWarning)
#from IPython.display import Image
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets
# Fix for datascience collections Iterable
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable
import json
from IPython.core.display import HTML
from time import sleep

In [4]:
def make_random_groups(people, number_of_groups,labels):
    
    #Shuffle list of people
    random.shuffle(people)
    
    #Create groups
    all_groups = []
    for index in range(number_of_groups):
        group = people[index::number_of_groups]
        all_groups.append(group)
    
    #Format and display groups
    print("✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨")
    print("✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨")
    sleep(5)
    for index, group in enumerate(all_groups):
        print(f"✨{labels[index]}✨: {' / '.join(group)}\n")
        sleep(2)
        print("✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨")
        sleep(1)
    return all_groups

In [5]:
Section = input("Enter section number: ")
if Section == '001':
    file = 'EDS001_S23.csv'
elif Section == '002':
    file = 'EDS002_S23.csv'
elif Section == '004':
    file = 'EDS004_S23.csv'
elif Section == '003':
    file = 'EDS003_S23.csv'
people = Table().read_table(file)
people

Enter section number:  004

First             | Last
 Joseph Nathaniel | Alexis
 Ekta             | Arora
 Naffisat A       | Atanda
 Ronneisha        | Bell
 Aamenah Aslam    | Cheema
 Rehan Masood     | Choudry
 Joshua J         | Christian
 Janiah           | Cobb
 Ustyna           | Danylovych
 Mariam Kaba      | Diakite
... (24 rows omitted)

In [6]:
names = people['First']

In [7]:
Groups=['Hacking Hooters','Data Owls','Broad Street Bootstrappers','SuperCool Group Name', 'Data Eagles', 'Stellas Statisticians','Plotting Phils','Keystones','Temple Totalers','! Group Y','SERC Stats']

In [8]:
GROUP = make_random_groups(names, 6, Groups)

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨Hacking Hooters✨:  Michael /  Naffisat A /  Ewen C /  Twittany /  Kiara /  Zara

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨Data Owls✨:  Emily /  Laurie-Ann /  Mariam Kaba /  Sadiyah /  Ekta /  Alex

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨Broad Street Bootstrappers✨:  Ryan /  Makenna /  Progress /  Janiah /  Devonna Monae /  Ronneisha

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨SuperCool Group Name✨:  Rehan Masood /  Siobhan Sena /  Kannitha Natalie /  Sidiki /  Munyaradzi /  Eric J

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨Data Eagles✨:  Dorothy Monneh /  Aidan /  David Chester /  Joshua J /  Jonathan Leonidas

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨
✨Stellas Statisticians✨:  Sanjida /  Aamenah Aslam /  Joseph Nathaniel /  Courtney /  Ustyna

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨