In [ ]:
import numpy as np
from datascience import *

# Dictionaries

Python has a number of built-in data structures. In this class we will be working mostly with arrays and datatables, however, there are other useful data structures you should know. One that doesn't come up as often as array in numerical analysis but is still important is the `dictionary.`

A python dictionary consists of pairs of keys and values. You use the key to look up the corresponding value -- just like you look up a word in a physical dictionary (remember those?) to find its definition.

## Creating dictionaries

### Method 1

In [ ]:
student_ages = {"Sally":18, "Mark":21, "Rashid":20}
student_ages

Notice the use of curly brackets.

Now to find the `value` Rashid's age, we use the `key`.

In [ ]:
student_ages["Rashid"]

Notice that we used the usual square bracket to retrieve a value from a dictionary, the same as we do for lists and arrays.

### Method 2
Here is a second way to create a dictionary, using `dict().` Once again, you provide key, value pairs.

In [ ]:
alice_info = dict(name="Alice", age=30, city="New York")
alice_info

In [ ]:
alice_info['city']

## Retrieving keys and values

In [ ]:
# Here are all of the dictionary keys
alice_info.keys()

In [ ]:
# And here are all of the values
alice_info.values()

You can convert these into regular python lists.

In [ ]:
list(alice_info.keys())

In [ ]:
list(alice_info.values())

## Looping over a list

In [ ]:
# Note that .item() returns a key, value pair
for key, value in alice_info.items():
    print(f" for key={key}, value={value}")

## Turning a dictionary into a datatable
To create a table where one column has the keys and another has the value, you will need to extract them into lists and then use `Table().with_columns(),` which, if you recall, takes pairs of column names and associated column values.

An example will make this clear.

In [ ]:
# Create a dictionary of mountain heights
mountains = {'Mount Marcy':1629,'Algonquin Peak':1559,'Mount Haystack':1512,'Mount Skylight':1501}
mountains

In [ ]:
peaks = Table().with_columns("Name", list(mountains.keys()), "Height_m", list(mountains.values()))
peaks

## Bonus
Let's add a column to this table with the heights in ft.

Create a function, then apply it.

In [ ]:
def m_to_ft(x):
    '''Convert meters to feet'''
    return x * 3.048

In [ ]:
# Test the function
m_to_ft(3)

In [ ]:
# Apply the function
peaks = peaks.with_column("Height_ft", peaks.apply(m_to_ft, "Height_m"))
peaks