# Making Tables Pretty (and sometimes more useful)

Data tables have a number of build-in formatters to make tables look pretty. The full reference list is [here.](https://www.data8.org/datascience/formats.html)

In this notebook we will review a few of the most useful.

In [ ]:
import numpy as np
from datascience import *
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load some data for the demonstration
COVID_data = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us.csv'
COVID=Table.read_table(COVID_data)
COVID.show(3)

## Dateformatter

This dataset has a `date` column, but the values were actually read in as strings.

In [ ]:
COVID.column('date')

Python doesn't know they are dates. That means have no easy was to select a particular date range. How could we find the data for just March, 2020, for example?

We need to format this column so Python knows these are dates.

In [ ]:
COVID = COVID.set_format('date', DateFormatter(format='%Y-%m-%d',))
COVID.show(3)

Looks the same, right? But let's see what type of data is stored in the `data` column now.

In [ ]:
COVID.column('date')

The array contains numbers that are actually time stamps. Now we can select a date range.

In [ ]:
import time                # Python time functions
from time import strptime 
#time.time() # Seconds since common epoch

time1 = time.mktime(strptime('2020-03-01', '%Y-%m-%d'))
time2 = time.mktime(strptime('2020-03-31', '%Y-%m-%d')) # Seconds since epoch

Jan2022 = COVID.where('date',are.between(time1,time2))
Jan2022.show(3)

## NumberFormatter
Suppose we want a column to display with a particular number of decimal places. Let's say we want `deaths_avg` to three decimal places.

In [ ]:
Jan2022 = Jan2022.set_format('deaths_avg', NumberFormatter(decimals=3))
Jan2022.show(3)

Number formatter has additional super powers. Suppose we had a table such as this one:

In [ ]:
numbers = make_array('23,000', '32,134', '12,112', '34,244')
comma_numbers = Table().with_columns('some_numbers', numbers)
comma_numbers

It is not unusal to obtain data with numbers using commas like this example. The column has an array of strings, but we want actual numbers. NumberFormatter to the rescue!

In [ ]:
comma_numbers = comma_numbers.set_format('some_numbers', NumberFormatter())
comma_numbers

The numbers are still displayed with commas, but now the array hold numbers, not strings.

In [ ]:
comma_numbers.column('some_numbers')

What if you don't like commas in your numbers? You change the `separator` from ',' to the empty string ''

In [ ]:
comma_numbers = comma_numbers.set_format('some_numbers', NumberFormatter(separator=''))
comma_numbers

## CurrencyFormatter
What if those numbers represented currency. We'd like to display a dollar sign in front of each number.

In [ ]:
comma_numbers = comma_numbers.set_format('some_numbers', CurrencyFormatter())
comma_numbers

Notice that for currency, the commas were put back in place. It looks better that way. The actual array is still just numbers.

In [ ]:
comma_numbers.column('some_numbers')

## PercentFormater
We often hava a column of floating point numbers that represent percentages. Let's create simple example.

In [ ]:
netflix = Table().with_columns(
    'Time', make_array('Time spent looking for a movie', 'Time spent watching a movie'),
    'Percentage', make_array(.95, .5)
)
netflix

Display numbers as percentages.

In [ ]:
netflix = netflix.set_format('Percentage', PercentFormatter)
netflix

**That is a good start. You can look at the documentation to find other formatting options. I'm going to end this tutorial on formatting and go look for a movie to watch.**