# Class 06 Warm up exercise: Data Tables

You will be using data tables for just about everything the rest of the semester, so let warm-up today with exercise designed to review many of the basic table operations. And what could be better on a table than some breakfast cereal? We'll start by loading a data with the following information:

Content
Fields in the dataset:

Name: Name of cereal
- mfr: Manufacturer of cereal
- A = American Home Food Products;
- G = General Mills
- K = Kelloggs
- N = Nabisco
- P = Post
- Q = Quaker Oats
- R = Ralston Purina
- type:
- cold
- hot
- calories: calories per serving
- protein: grams of protein
- fat: grams of fat
- sodium: milligrams of sodium
- fiber: grams of dietary fiber
- carbo: grams of complex carbohydrates
- sugars: grams of sugars
- potass: milligrams of potassium
- vitamins: vitamins and minerals - 0, 25, or 100, indicating the typical percentage of FDA recommended
- shelf: display shelf (1, 2, or 3, counting from the floor)
- weight: weight in ounces of one serving
- cups: number of cups in one serving
- rating: a rating of the cereals (Possibly from Consumer Reports?)

**Data the describes the data is called "metadata." Metadata is a critical component of every data set.**

Acknowledgements
These datasets have been gathered and cleaned up by Petra Isenberg, Pierre Dragicevic and Yvonne Jansen. The data was downloaded from Kaggle.

In [3]:
# Import the modules you need at the start of the notebook
from datascience import *
import numpy as np

In [4]:
# Read in the data from a file
cereal = Table().read_table("data/cereal.csv")

In [5]:
# Show the first three rows
cereal.show(3)

## Every column is an array with a label
Recall that an array has to contain data of all the same type. In this table most of the data is numeric. Which columns contains an array of strings?

In [6]:
name_of_string_col = "..."

## Calculating a statistic
To apply numpy functions such as np.mean() or np.max(), you much first extract the array associated with a column label. To do this, you used the .column() function. 

For example, to extract the average rating:

In [7]:
ratings = cereal.column("rating")
ratings

array([ 68.402973,  33.983679,  59.425505,  93.704912,  34.384843,
        29.509541,  33.174094,  37.038562,  49.120253,  53.313813,
        18.042851,  50.764999,  19.823573,  40.400208,  22.736446,
        41.445019,  45.863324,  35.782791,  22.396513,  40.448772,
        64.533816,  46.895644,  36.176196,  44.330856,  32.207582,
        31.435973,  58.345141,  40.917047,  41.015492,  28.025765,
        35.252444,  23.804043,  52.076897,  53.371007,  45.811716,
        21.871292,  31.072217,  28.742414,  36.523683,  36.471512,
        39.241114,  45.328074,  26.734515,  54.850917,  37.136863,
        34.139765,  30.313351,  40.105965,  29.924285,  40.69232 ,
        59.642837,  30.450843,  37.840594,  41.50354 ,  60.756112,
        63.005645,  49.511874,  50.828392,  39.259197,  39.7034  ,
        55.333142,  41.998933,  40.560159,  68.235885,  74.472949,
        72.801787,  31.230054,  53.131324,  59.363993,  38.839746,
        28.592785,  46.658844,  39.106174,  27.753301,  49.787445,
        51.592193,  36.187559])

In [8]:
np.mean(ratings)

42.665704987012987

### Challenge 1:
Find the maxiumum in the "calories" column.

## Sorting a table
Finding the maximum that way works, but you don't know which cereal has the most calories. Another approach is to sort the table using the calories column.

In [9]:
cereal.sort("calories")

name                      | mfr  | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating
All-Bran with Extra Fiber | K    | C    | 50       | 4       | 0    | 140    | 14    | 8     | 0      | 330    | 25       | 3     | 1      | 0.5  | 93.7049
Puffed Rice               | Q    | C    | 50       | 1       | 0    | 0      | 0     | 13    | 0      | 15     | 0        | 3     | 0.5    | 1    | 60.7561
Puffed Wheat              | Q    | C    | 50       | 2       | 0    | 0      | 1     | 10    | 0      | 50     | 0        | 3     | 0.5    | 1    | 63.0056
100% Bran                 | N    | C    | 70       | 4       | 1    | 130    | 10    | 5     | 6      | 280    | 25       | 3     | 1      | 0.33 | 68.403
All-Bran                  | K    | C    | 70       | 4       | 1    | 260    | 9     | 7     | 5      | 320    | 25       | 3     | 1      | 0.33 | 59.4255
Shredded Wheat            | N    | C    | 80       | 2       | 0    | 0      | 3     | 16    | 0      | 95     | 0        | 1     | 0.83   | 1    | 68.2359
Bran Chex                 | R    | C    | 90       | 2       | 1    | 200    | 4     | 15    | 6      | 125    | 25       | 1     | 1      | 0.67 | 49.1203
Bran Flakes               | P    | C    | 90       | 3       | 0    | 210    | 5     | 13    | 5      | 190    | 25       | 3     | 1      | 0.67 | 53.3138
Nutri-grain Wheat         | K    | C    | 90       | 3       | 0    | 170    | 3     | 18    | 2      | 90     | 25       | 3     | 1      | 1    | 59.6428
Raisin Squares            | K    | C    | 90       | 2       | 0    | 0      | 2     | 15    | 6      | 110    | 25       | 3     | 1      | 0.5  | 55.3331
... (67 rows omitted)

### Challenge 2: 
We just sorted the table, but we sorted low to high. To sort high to low, you need to add an optional parameter to the sort command.

descending=True

Try it in the cell below.

## Extracting the top five
The take() function is used to select particular rows from a table. You have to give it a list or array of row numbers, but you can use np.arange to generate these as demonstrated below.

In [10]:
# Generate the numbers needed for the first five rows
np.arange(5)

array([0, 1, 2, 3, 4])

In [11]:
# Putting it together
# Get the five most caloric cereals.
cereal.sort("calories", descending=True).take(np.arange(5))

name                              | mfr  | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating
Mueslix Crispy Blend              | K    | C    | 160      | 3       | 2    | 150    | 3     | 17    | 13     | 160    | 25       | 3     | 1.5    | 0.67 | 30.3134
Muesli Raisins; Dates; & Almonds  | R    | C    | 150      | 4       | 3    | 95     | 3     | 16    | 11     | 170    | 25       | 3     | 1      | 1    | 37.1369
Muesli Raisins; Peaches; & Pecans | R    | C    | 150      | 4       | 3    | 150    | 3     | 16    | 11     | 170    | 25       | 3     | 1      | 1    | 34.1398
Just Right Fruit & Nut            | K    | C    | 140      | 3       | 1    | 170    | 2     | 20    | 9      | 95     | 100      | 3     | 1.3    | 0.75 | 36.4715
Nutri-Grain Almond-Raisin         | K    | C    | 140      | 3       | 2    | 220    | 3     | 21    | 7      | 130    | 25       | 3     | 1.33   | 0.67 | 40.6923

### Challenge 3:
Get the five **highest rated** cereals.

## Filtering based on a condition
This one comes up a lot. You want to pull the rows from a table based on some condition. For this, you need the where() function.

For example, suppose we want just the cereals with more than 8 grams of fiber per serving.

In [12]:
cereal.where("fiber", are.above(8))

name                      | mfr  | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating
100% Bran                 | N    | C    | 70       | 4       | 1    | 130    | 10    | 5     | 6      | 280    | 25       | 3     | 1      | 0.33 | 68.403
All-Bran                  | K    | C    | 70       | 4       | 1    | 260    | 9     | 7     | 5      | 320    | 25       | 3     | 1      | 0.33 | 59.4255
All-Bran with Extra Fiber | K    | C    | 50       | 4       | 0    | 140    | 14    | 8     | 0      | 330    | 25       | 3     | 1      | 0.5  | 93.7049

Ah, bran cereals! No surprise they are the ones highest in fiber.

## Challenge 4:
Create a table with just the hot cereals.

## Applying multiple conditions
To filter on multiple conditions, simply apply them one at a time.

Let's look for the cereals high in sodium, and suger -- the ones you probably shouldn't eat. First, let's find the range of values for each.

In [16]:
# Sodium
sodium = cereal.column("sodium")
max_sodium = np.max(sodium)
min_sodium = np.min(sodium)
print(f"Sodium ranges from {min_sodium} to {max_sodium} milligrams.")

Sodium ranges from 0 to 320 milligrams.

In [20]:
# Sugar
sugars = cereal.column("sugars")
max_sugars = np.max(sugars)
min_sugars = np.min(sugars)
print(f"Sugars range from {min_sugars} to {max_sugars} grams.")

Sugars range from -1 to 15 grams.

**Negative Sugar!?** If there is such a cereal it would be extremely popular as a diet food! I'm guessing this is an error. Data sets often have mistakes.

Let's find out which cereal it is.

In [23]:
cereal.where("sugars", are.below(0))

name           | mfr  | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating
Quaker Oatmeal | Q    | H    | 100      | 5       | 2    | 0      | 2.7   | -1    | -1     | 110    | 0        | 1     | 1      | 0.67 | 50.8284

Oatmeal has both negative sugar and negative carbs. Who knew?


### Challenge #4
Ignoring this obvious flaw in the data. Let's see if you can find a cereal(s) with more than 230 milligrams of sodium,  and more htan 10 grams of sugars.

In [30]:
cereal.where("sodium", are.above(200)).where("sugars", are.above(10))

name             | mfr  | type | calories | protein | fat  | sodium | fiber | carbo | sugars | potass | vitamins | shelf | weight | cups | rating
Cap'n'Crunch     | Q    | C    | 120      | 1       | 2    | 220    | 0     | 12    | 12     | 35     | 25       | 2     | 1      | 0.75 | 18.0429
Fruitful Bran    | K    | C    | 120      | 3       | 0    | 240    | 5     | 14    | 12     | 190    | 25       | 3     | 1.33   | 0.67 | 41.0155
Honey Graham Ohs | Q    | C    | 120      | 1       | 2    | 220    | 1     | 12    | 11     | 45     | 25       | 2     | 1      | 1    | 21.8713
Raisin Bran      | K    | C    | 120      | 3       | 1    | 210    | 5     | 14    | 12     | 240    | 25       | 2     | 1.33   | 0.75 | 39.2592

## Are you surprised?
The ones low in fiber too are truly without redeeming value.