# Class 09: Warmup
## Operating on Tables (not Operating Tables :-)

# Today's Data
**This data set contains information on patients, some of whom have heart disease and others who do not. You will be looking at various medical measurements to see which features are diagnostic.**

#### Metadata
Data from Kaggle see [https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset](https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset)
You can find out more about the original dataset [here.](https://archive.ics.uci.edu/dataset/45/heart+disease)
1. age
2. sex
3. chest pain type (4 values)
4. resting blood pressure
5. serum cholestoral in mg/dl
6. fasting blood sugar > 120 mg/dl (1=yes, 0=no)
7. resting electrocardiographic results (values 0,1,2)
8. maximum heart rate achieved
9. exercise induced angina (1=yes, 0=no)
10. oldpeak = ST depression induced by exercise relative to rest
11. the slope of the peak exercise ST segment
12. number of major vessels (0-3) colored by flourosopy
13. thal:  A blood disorder called thalassemia 0 = normal; 1 = fixed defect; 2 = reversable defect

The names and social security numbers of the patients were recently removed from the database, replaced with dummy values.

*target* (0 = no heart disease and 1 = heart disease)

<img src="https://www.wikidoc.org/images/5/53/SinusRhythmLabels.png" alt="EKG Image" width=500, height="auto" class="blog-image">

In [17]:
from datascience import *
import numpy as np
# import for plotting
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
# Fix for datascience plots
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

In [18]:
path = '../data/'
data = path + 'heart.csv'
heart = Table.read_table(data)
heart

age  | sex  | cp   | trestbps | chol | fbs  | restecg | thalach | exang | oldpeak | slope | ca   | thal | target
52   | 1    | 0    | 125      | 212  | 0    | 1       | 168     | 0     | 1       | 2     | 2    | 3    | 0
53   | 1    | 0    | 140      | 203  | 1    | 0       | 155     | 1     | 3.1     | 0     | 0    | 3    | 0
70   | 1    | 0    | 145      | 174  | 0    | 1       | 125     | 1     | 2.6     | 0     | 0    | 3    | 0
61   | 1    | 0    | 148      | 203  | 0    | 1       | 161     | 0     | 0       | 2     | 1    | 3    | 0
62   | 0    | 0    | 138      | 294  | 1    | 1       | 106     | 0     | 1.9     | 1     | 3    | 2    | 0
58   | 0    | 0    | 100      | 248  | 0    | 0       | 122     | 0     | 1       | 1     | 0    | 2    | 1
58   | 1    | 0    | 114      | 318  | 0    | 2       | 140     | 0     | 4.4     | 0     | 3    | 1    | 0
55   | 1    | 0    | 160      | 289  | 0    | 0       | 145     | 1     | 0.8     | 1     | 1    | 3    | 0
46   | 1    | 0    | 120      | 249  | 0    | 0       | 144     | 0     | 0.8     | 2     | 0    | 3    | 0
54   | 1    | 0    | 122      | 286  | 0    | 0       | 116     | 1     | 3.2     | 1     | 2    | 2    | 0
... (1015 rows omitted)

## Challenge 1
1. What is the age range of the patients as a whole?
2. What is the median age?

## Challenge 2
Create two new tables `younger` and `older` using the median age, where older is above the median and younger is below or equal to the median age. 

1. Compare the average cholesterol levels of the two groups.
2. Compare the average resting blood pressure of the two groups.

## Challenge 3
Use the .where() method to create two new tables from the original table: `heart_no_disease` and `heart_disease` and answer the following questions:

1. What is the percentage of the patients with heart disease for men (sex=1) vs. women (sex=0)?
2. On average, do the patients with heart disease have higher cholesterol?

## Challenge 4

A ratio that might be predictive of heart disease is resting blood pressure to age. Create a new column in the orginal table called `bp_over_age` and check if the average ratio is higher for patients with heart disease.

In [64]:
heart = heart.with_columns('bp_over_age', heart.column('trestbps')/heart.column('age'))
heart

age  | sex  | cp   | trestbps | chol | fbs  | restecg | thalach | exang | oldpeak | slope | ca   | thal | target | bp_over_age
52   | 1    | 0    | 125      | 212  | 0    | 1       | 168     | 0     | 1       | 2     | 2    | 3    | 0      | 2.40385
53   | 1    | 0    | 140      | 203  | 1    | 0       | 155     | 1     | 3.1     | 0     | 0    | 3    | 0      | 2.64151
70   | 1    | 0    | 145      | 174  | 0    | 1       | 125     | 1     | 2.6     | 0     | 0    | 3    | 0      | 2.07143
61   | 1    | 0    | 148      | 203  | 0    | 1       | 161     | 0     | 0       | 2     | 1    | 3    | 0      | 2.42623
62   | 0    | 0    | 138      | 294  | 1    | 1       | 106     | 0     | 1.9     | 1     | 3    | 2    | 0      | 2.22581
58   | 0    | 0    | 100      | 248  | 0    | 0       | 122     | 0     | 1       | 1     | 0    | 2    | 1      | 1.72414
58   | 1    | 0    | 114      | 318  | 0    | 2       | 140     | 0     | 4.4     | 0     | 3    | 1    | 0      | 1.96552
55   | 1    | 0    | 160      | 289  | 0    | 0       | 145     | 1     | 0.8     | 1     | 1    | 3    | 0      | 2.90909
46   | 1    | 0    | 120      | 249  | 0    | 0       | 144     | 0     | 0.8     | 2     | 0    | 3    | 0      | 2.6087
54   | 1    | 0    | 122      | 286  | 0    | 0       | 116     | 1     | 3.2     | 1     | 2    | 2    | 0      | 2.25926
... (1015 rows omitted)

## Challenge 5
Create a markdown cell below and suggest another ratio or some other combination of columns that you think might be predictive of heart disease.