## Class 005
*Working with data*: datascience Table

## Learning Goals for Lab 03
### Loading Data Sets and Exploratory Data Analysis
*neccessary*: 
`from datascience import *`
- Table is a new Variable & Data Types
    - Strings
    - Integer
    - float
    - list [ ]
    - numpy.array
    - datascience.tables.Table
- arrays: from datascience import *
    - `make_array(0.125, 4.75, -1.3)` 
- arrays: import numpy as np
    - `np.array([0, 1, -1, math.pi, math.e])`
    - `np.arange(1,13)` 
- lists: [1, 2, 3, 4]
#### Table
- `T=Table().with_columns('Month',np.arange(1,13))`
- `Table.read_table(data)`

#### Initialize with imported new functionality for plotting data.

In [ ]:
# import for plotting
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline

### First data table

In [ ]:
from datascience import *
import numpy as np

# Creates a table with one column
T=Table().with_columns('Month',np.arange(1,13))
T

In [ ]:
# Adds a another column to the existing table
T=T.with_columns('Average_SnowFall (inch)',make_array(5.6,5.6,2.4,0.1,0,0,0,0,0,0,0.1,3.2))

In [ ]:
T.show()

## Back to our first table

In [ ]:
m = [
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']
m

In [ ]:
# Replace the column with month names instead of numbers
T=T.with_columns('Month',m)
T.show()

In [ ]:
# Sort months by snowfall amounts
# Notice the use of the keyword argument to change the sort order
T.sort('Average_SnowFall (inch)', descending=True)

In [ ]:
# Create a horizontal bar chart:  table.barh(Category, values)
T.barh('Month', 'Average_SnowFall (inch)')

### Census data example
#### For your own exploration

In [ ]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/asrh/nc-est2020-agesex-res.csv'
# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = Table.read_table(data)
full_census_table

### Making a new table with a subset of the columns

In [ ]:
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2020')
partial_census_table

### Extract the data from a particular table column as an array

In [ ]:
partial_census_table.column("AGE")

### You can perform math operation on an entire array at once.
This is called "broadcasting" the operation to all of the array elements.

In [ ]:
3*partial_census_table.column("AGE")

### Chaining methods: applying each method successively on the result of the previous method.
The innermost operation is applied first.

In [ ]:
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2020', '2020').relabeled('SEX','GENDER')
us_pop

### Using .where() method 
[see:http://data8.org/datascience/reference-nb/datascience-reference.html#tbl.where() ]
This selects rows from a table that satisfy some condition.

In [ ]:
us_pop.where('GENDER',0)

In [ ]:
# Chaining where() filters
popdata = us_pop.where('GENDER',0).where('AGE',are.below(99))
popdata

### Tables have built-in plotting methods
This plot shows how the age distribution in the US changed between 2010 and 2020.

In [ ]:
popdata.select('AGE','2010','2020').plot('AGE')

### Importing the Minard Data

In [ ]:
minard = Table.read_table("data/minard.csv")
minard

### Importing the Actor Data

In [ ]:
actors = Table.read_table("data/actors.csv")
actors