# Data Ninja Challenge 01

Students come into this class with vastly different levels of programming experience, so some of you will race ahead in this Python bootcamp. If that describe you, the **Data Ninga Challenge** series gives you something to do while the others catch up. Sorry, no extra credit, just an opportunity to further sharpen your blades.

Good Luck!

## Lists

Python has a number of built-in data structures. In this class we will be working mostly with arrays and datatables, which we won't get to until Lab02. However, there are other useful data structures that a ninja should know. One of the most versatile is a list. A list is a python collection, a container that hold any number of items of different types.

In [1]:
name = ['Sally', "Mark", "Kummar", "Maria"]
name

['Sally', 'Mark', 'Kummar', 'Maria']

We have created a list of strings, each of which is a name.

In [3]:
# Show the length of the list
len(name)

4

In [4]:
# Reference a single element from the list.
# Note: the first elements is element zero

In [5]:
print(name[1])
print(name[3])

Mark
Maria

In [6]:
# Add another name to the list
name.append('Pierre')
name

['Sally', 'Mark', 'Kummar', 'Maria', 'Pierre']

In [8]:
# Remove an element from the list
name.remove('Mark')
print(name)

['Sally', 'Kummar', 'Maria', 'Pierre']

**Challenge:** Add two more names to the list "name"

In [10]:
# Lists can be concatenated together
list1 = [1, 2, 3]
list2 = ["Pizza", "Hamburgers", "Tacos"]
list3 = list1 + list2
list3

[1, 2, 3, 'Pizza', 'Hamburgers', 'Tacos']

Notice that elements of a list do not have to be all the same type of data. list3 has three integers and three strings.

**Challenge:** I've had entirely too much pizza. Remove "pizza" from list3.

In [13]:
# A list can even contain other lists
nested_list = [ 1, 2, 3, ['dog', 'cat']]
nested_list

[1, 2, 3, ['dog', 'cat']]

In [14]:
# The list is only four elements long
# The last element being another list
len(nested_list)

4

In [15]:
# How would we reference the element 'dog' inside the list within the list?
nested_list[3][0]

'dog'

Why does this work? The outside list has four elements indexed as 0, 1, 2, 3. The inner list is the fourth element, which is element 3 as counting starts at zero. 'dog' is the zeroth element in the inner list.

Think about this until it makes sense.

**Challenge:** See if you can index this list to extract 'the prize'

In [16]:
list4 = [1, 2, 5, 7, ['hot dogs', 'cracker jacks', 'the prize'], 13, 17]
list4

[1, 2, 5, 7, ['hot dogs', 'cracker jacks', 'the prize'], 13, 17]

## Stings are like lists

In [17]:
element = 'carbon'
print(f'zeroth character: {element[0]}')
print(f'third character: {element[3]}')

zeroth character: c
third character: b

## Slicing
You can reference a subset of a list or a sting. This is called "slicing."

In [18]:
prime_nums = [1, 2, 3, 5, 7, 11, 13, 17, 19, 23]
prime_nums

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23]

In [19]:
# Slice the first three elements of the list
prime_nums[0:3]

[1, 2, 3]

**Challenge:** Try slicing out just [7, 11, 13] from prime_nums

In [21]:
# You can split a string into a list of words.
city = "Philadelphia: the city of brotherly love."
city_list = city.split()
city_list

['Philadelphia:', 'the', 'city', 'of', 'brotherly', 'love.']

**Challenge:** Extract "school boards" from the string below by splitting and slicing. Then use .replace() to change it to "fool boards."

In [ ]:
mark_twain_quote = "In the first place, God made idiots. That was for practice. Then he made school boards."