## Class 006 Tables tested

In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

### Create a first datascience table object from an array
As an example we can create a table directly from data inserted into an arr

In [ ]:
T=Table().with_columns('Tornados',make_array(0,0,0,1,0,0,0,1,5,1,0,0))

In [ ]:
make_array(0,0,0,1,0,0,0,1,5,1,0,0)

In [ ]:
import numpy as np
T=T.with_columns('Month',np.arange(1,13,1))

In [ ]:
T

In [ ]:
import numpy as np
T=T.with_columns('Month',np.arange(1,13))

In [ ]:
T.sort(0,descending=True)

In [ ]:
T=T.with_columns("Odd",T.column(1)%2).where("Odd",0)
T

### Census data example

In [2]:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2020/national/asrh/nc-est2020-agesex-res.csv'


full_census_table = Table().read_table(data)
full_census_table

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014 | POPESTIMATE2015 | POPESTIMATE2016 | POPESTIMATE2017 | POPESTIMATE2018 | POPESTIMATE2019 | POPESTIMATE2020
0    | 0    | 3944153       | 3944160           | 3951495         | 3963264         | 3926731         | 3931411         | 3954973         | 3984144         | 3963268         | 3882437         | 3826908         | 3762227         | 3735010
0    | 1    | 3978070       | 3978090           | 3957904         | 3966768         | 3978210         | 3943348         | 3949559         | 3973828         | 4003586         | 3981864         | 3897917         | 3842257         | 3773884
0    | 2    | 4096929       | 4096939           | 4090799         | 3971498         | 3980139         | 3993047         | 3960015         | 3967672         | 3992657         | 4021261         | 3996742         | 3911822         | 3853025
0    | 3    | 4119040       | 4119051           | 4111869         | 4102429         | 3983007         | 3992839         | 4007852         | 3976277         | 3984985         | 4009060         | 4035053         | 4009037         | 3921526
0    | 4    | 4063170       | 4063186           | 4077511         | 4122252         | 4112849         | 3994539         | 4006407         | 4022785         | 3992241         | 4000394         | 4021907         | 4045996         | 4017847
0    | 5    | 4056858       | 4056872           | 4064653         | 4087770         | 4132349         | 4123745         | 4007123         | 4020489         | 4038022         | 4007233         | 4012789         | 4032231         | 4054336
0    | 6    | 4066381       | 4066412           | 4073031         | 4075153         | 4097860         | 4142923         | 4135738         | 4020428         | 4034969         | 4052428         | 4019106         | 4022432         | 4040169
0    | 7    | 4030579       | 4030594           | 4043100         | 4083399         | 4085255         | 4108453         | 4154947         | 4148711         | 4034355         | 4048430         | 4063647         | 4027876         | 4029753
0    | 8    | 4046486       | 4046497           | 4025624         | 4053313         | 4093553         | 4096033         | 4120476         | 4167765         | 4162142         | 4047130         | 4059209         | 4071894         | 4034785
0    | 9    | 4148353       | 4148369           | 4125413         | 4035854         | 4063662         | 4104437         | 4107986         | 4133426         | 4181069         | 4175085         | 4058207         | 4067320         | 4078668
... (296 rows omitted)

In [ ]:
partial_census_table = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2020')
partial_census_table

In [ ]:
type(3*partial_census_table.column("AGE"))

In [ ]:
us_pop = partial_census_table.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2020', '2020').relabeled('SEX','GENDER')
us_pop

In [ ]:
type(us_pop)

In [ ]:
us_pop.where('AGE',81)

In [ ]:
us_pop.where('AGE',70)

In [ ]:
us_pop.where('GENDER',0).select('AGE','2010','2020').where('AGE',are.below(100)).plot('AGE')

In [ ]:
us_pop.where('GENDER',0).select('AGE','2010','2020').where('AGE',are.below(100))

### Google Trend Data

In [4]:
file_original = "data/multiTimeline-9.csv"
file = "data/ChemBioNobelTrend.csv"
ChemBio = Table().read_table(file_original, skiprows=2)
ChemBio

Week       | Chemistry: (United States) | Biology: (United States) | Nobel Prize: (United States)
2019-02-03 | 42                         | 40                       | 4
2019-02-10 | 42                         | 38                       | 5
2019-02-17 | 36                         | 33                       | 6
2019-02-24 | 39                         | 37                       | 5
2019-03-03 | 39                         | 37                       | 4
2019-03-10 | 33                         | 31                       | 4
2019-03-17 | 34                         | 32                       | 4
2019-03-24 | 35                         | 33                       | 3
2019-03-31 | 37                         | 36                       | 3
2019-04-07 | 38                         | 36                       | 3
... (250 rows omitted)

In [7]:
file = "data/GoogleTrend_debate.csv"
debate = Table().read_table(file, skiprows=2)
debate

Day        | debate: (United States) | harris: (United States) | trump: (United States) | Joe Biden: (United States)
2024-06-12 | <1                      | 1                       | 2                      | 1
2024-06-13 | <1                      | 1                       | 2                      | 1
2024-06-14 | <1                      | 1                       | 3                      | 1
2024-06-15 | <1                      | 1                       | 2                      | 1
2024-06-16 | <1                      | 1                       | 2                      | 1
2024-06-17 | <1                      | 1                       | 2                      | 2
2024-06-18 | <1                      | 1                       | 2                      | 2
2024-06-19 | <1                      | 1                       | 2                      | 1
2024-06-20 | 1                       | 1                       | 2                      | 1
2024-06-21 | 1                       | 1                       | 2                      | 1
... (83 rows omitted)

## Philadelphia COVID Tests by ZIP (CSV)
[Philly Open Data](https://www.opendataphilly.org/dataset/covid-cases/resource/d4d1e48a-d401-405c-972b-c45292c3d4f5?inner_span=True)

In [ ]:
PHLcovid ="https://phl.carto.com/api/v2/sql?q=SELECT+*+FROM+covid_cases_by_zip&filename=covid_cases_by_zip&format=csv&skipfields=cartodb_id"

Cdata = Table().read_table(PHLcovid)
Cdata.where('covid_status','POS').sort('count',descending=True)

In [ ]:
Cdata.where('covid_status','POS').sort('count',descending=True).hist('count')

In [ ]:
Cdata.where('covid_status','NEG').sort('count',descending=True).where('count',are.below(200000)).hist('count')