In [ ]:
import numpy as np
from datascience import *

# Lists

Python has a number of built-in data structures. In this class we will be working mostly with arrays and datatables, however, there are other useful data structures you should know. One of the most versatile is a list. A list is a python collection, a container that hold any number of items of different types.

In [ ]:
name = ['Sally', "Mark", "Kummar", "Maria"]
name

We have created a list of strings, each of which is a person's name.

In [ ]:
# Show the length of the list
len(name)

In [ ]:
# Reference a single element from the list.
# Note: the first element of a list is element zero

In [ ]:
print(name[1])
print(name[3])

In [ ]:
# Add another name to the list
name.append('Pierre')
name

In [ ]:
# Remove an element from the list
name.remove('Mark')
print(name)

**Challenge:** Add two more names to the list "name"

Unlike arrays, the elements of a list to not all have to be the same data type.

In [ ]:
mixed_list = [1, "is the loneliest number"]
mixed_list

In [ ]:
# Lists can be concatenated together
list1 = [1, 2, 3]
list2 = ["Pizza", "Hamburgers", "Tacos"]
list3 = list1 + list2
list3

List3 has three integers and three strings.

**Challenge:** I've had entirely too much pizza. Remove "pizza" from list3.

## Lists and Data Tables
Lists are handy when working data tables. Recall that a column in a table is all one data type, so we can represent a column with an array -- array elements must all be the same data type -- but we cannot extract a row from a table into an array because the different columns may be different data types. We need a list.

This will become clearer with a few examples.

In [ ]:
# Create a table
# Run this cell to recreate the table
students = Table().with_columns(
    'Student names', make_array('Sujith', 'Ilya', 'Laura'),
    'Credit hours completed', make_array(16, 121, 48)
)

students

The first column has student names, which are stored as strings. The second column has credit hour, so numerical data.  We can add a column to the table by adding a column label and an array of data.

In [ ]:
students = students.with_column("Class", make_array('Freshman', 'Senior', 'Sophomore'))
students

What if we want to add a row? An array won't work because the data types are different for the different colums. Use a list!

In [ ]:
students = students.with_row(['Dennis', 80, 'Junior'])
students

**Challenge:** Add another row to the table

I hope lists make more sense now. They are a versatile, commonly-employed Python data structure.