# Warm-up for Class 03

**Note:** Don't forget to run the cells at the top of a notebook that import the necessary libraries, such as the cell below.

In [ ]:
# Loads the numerical python module
import numpy as np

# Brings into Python the datascience Table object
from datascience import *

### Student Challenge 1: Practice coding up a math expression

Find the value of
$$6 + 6 \times 5 - 3^2 \times \frac{2^3}{4}$$

## Python Functions
Many functions are built into Python, such as max and min

In [ ]:
maximum_number = max(3, 4.4, 12, 0, -8)
maximum_number

While at other times you must load the functions you need from a module. Here we import the math module so we have access to the value pi.

In [ ]:
import math

print(math.pi)

### Student Challenge  2
Use math.pi to find the area of a circle with a radius of 4.

## Python Variables
So far you know about a couple of python variable types.
* strings
* floating point numbers
* integers

In [ ]:
# String
s = "I am a string variable"

# Integer
a = 4

# Float
b = 12.8

In [ ]:
# Find the type of a variable
type(b)

### Student Challenge 3
Find the type of variable created when you add `a` (which is an integer) and `b` (a floating point number) together.

## Lists
The variables a and b above point to single values. But Python has several variable types that are collections. One of the most common is a `list`. A list can have any number of elements. It is defined using square brackets with the items in the list separated by commas.

In [ ]:
names = ["Sally", "Xavier", "Abby"]
names

In [ ]:
prime_numbers = [1, 2, 3, 5, 7, 11, 13]
prime_numbers

### Student Challenge 4
Create a mixed list, one that contains both numbers and strings. To do this, replace the `...` below with your code.

In [ ]:
mixed_list = ...

### Subscripts
To extract a single element from a list, we subscript it using square brackets: []. For example, we can get the third prime number from the variable `prime_numbers` we create above this way:

In [ ]:
prime_numbers[2]

Why 2? Shouldnâ€™t the third element be 3? *This is important to remember:* Python numbers list elements starting with zero.

In [ ]:
# Returns the first element in the list
prime_numbers[0]

### Student challenge 5
Extract the value 11 from the `prime_numbers` list. Figure out the correct subscript to use.

## Arrays
Lists can have values that are different data types. An `array` is similar to a list, but all of the values in an array must be the same data type (e.g., all numeric, all string).

In [ ]:
odd = make_array(1, 3, 5, 7, 9)
odd

Subscripting works the same way for arrays as for lists.

In [ ]:
odd[2]

What is cool is that you can do math with arrays and it automatically operates on all values -- this is called `broadcasting` an operation across an array.

In [ ]:
# Add 10 to every element in the array
odd + 10

In [ ]:
# Add two arrays togther
# This only works if the two arrays are the same length
even = make_array(0, 2, 4, 6, 8)
odd + even

### Student Challenge 6
Multiply the odd and even arrays, store the result, and print the maximum value. Hint: Use the max() function.

## Slicing lists and arrays
We've seen how to extract a single value from an array, but we can also slice out a subsection.

In [ ]:
x = make_array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
x_squared = x**2
x_squared

In [ ]:
# Slice out the first three numbers
x_squared[0:3]

Notice that [0:3] means the zeroth, first and second element of the array. In other words, from zero up to but not including 3.

In [ ]:
# Another Example
x_squared[2:5]

## Subscripting Strings
String variables are just collections of characters. They can be subscripted and sliced.

In [ ]:
founder = "Russel Conwell"
print(founder[7])
print(founder[7:])

Note the slice [7:] didn't specify the second subscript, so it slices to the end.

In [ ]:
founder[:6]

If we don't specify the beginning, the slice starts with the zeroth element. In the case above, we are slicing from the zeroth characture up to, but not including, the sixth character.

### Student Challenge 7
Slice out "an arrow" from the joke below.

In [ ]:
dad_joke1 = "Time flies like an arrow. Fruit flies like a banana."

## Tuples
Tuples are another type of Python data collection very similar to lists, but are created using parentheses instead of square brackets.

In [ ]:
a_tuple = ("Cat", 4, "Fortune Cookie", 3.1415)
a_tuple

Notice that just as with a list, a tuple can contain mixed data types.

Tuples are subscripted the same way as lists and arrays.

In [ ]:
a_tuple[2:4]

So what is different about a tuple? Why not just use a list? The difference is tuples are "immutable," which means once they are defined you cannot change their values. Lists, on the other hand, a mutable.

Let's look at an example.

In [ ]:
a_list = ["Adam", "Eve", "Mark", "Paul"]
a_list

In [ ]:
# Change the third element in the list
a_list[2] = "Luke"
a_list

In [ ]:
# This will produce an error message
a_tuple[2] = "Oreo"

**Why would want a collection to be immutable?**

If you have a fixed collection that you want to protect against accidental modifications, store it in a tuple. This may not happen frequently, but you will occasionally see examples of tuples in this class.

### Student Challenge 9
Create your own tuple and try changing a value. You should receive an error message.